<div data-role="page">
  <%= render :partial => "shared/header" %>
  <% unless @search %>
    <div data-role="content">
      <%= form_tag search_lyrics_path, :method => :get do |f| %>
        <div data-role="fieldcontain">
          <label for="query">Search for Lyrics</label>
          <%= search_field_tag :query, '' %>
        </div
        <button type="submit" data-theme="e">Search</button>
      <% end %>
    </div>
  <% else %>
    <div data-role="content">
      <h1>
        <% if @search[:artists].present? %>
          Pick an Artist
        <% elsif @search[:albums].present? %>
          Pick an Album or a Song
        <% else %>
          Pick a Song
        <% end %>
      </h1>

      <% if @search[:artists].present? %>
        <div data-role="collapsible">
          <h2>Artists</h2>
          <ul data-role="listview" data-theme="g">
            <% for artist in @search[:artists] %>
              <li><%= link_to artist[:name], search_lyrics_path(:artist_url => artist[:url]) %></li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <% if @search[:albums].present? %>
          <div data-role="collapsible" data-collapsed="true">
            <h2>Albums</h2>
            <ul data-role="listview" data-theme="g">
              <% for album in @search[:albums] %>
                <li><%= link_to album[:name], search_lyrics_path(:album_url => album[:url]) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div data-role="collapsible">
          <h2>Songs</h2>
          <ul data-role="listview" data-theme="g">
            <% for song in @search[:songs] %>
              <li><%= link_to "Song: #{song[:name]}<br>Artist: #{song[:artist]}".html_safe, new_call_path(:call => { :lyric_url => song[:url] }) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= render :partial => "shared/footer" %>
</div>
