<div data-role="page">
  <%= render :partial => "shared/header" %>
  <div data-role="content">
    <h1><%= @lyric.title %></h1>
    <h2><%= @lyric.artist %></h2>
    <h2><%= @lyric.album %></h2>
    <% @lyric.body.split("\n").each do |line| %>
      <p><%= line %></p>
    <% end %>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
