<%= form_for @call do |f| %>
  <dl>
    <dt><%= f.label :from_name, 'Your Name' %></dt>
    <dd><%= f.text_field :from_name %></dd>
    <dt><%= f.label :from_number, 'Your Number' %></dt>
    <dd><%= f.text_field :from_number, :type => 'number', :min => 1111111111, :max => 9999999999 %></dd>

    <dt><%= f.label :to_name, 'Their Name' %></dt>
    <dd><%= f.text_field :to_name %></dd>
    <dt><%= f.label :to_number, 'Their Number' %></dt>
    <dd><%= f.text_field :to_number, :type => 'number', :min => 1111111111, :max => 9999999999 %></dd>

    <dt class="search"><%= label_tag :artist_query, 'Search for an Artist' %></dt>
    <dd class="search">
      <%= text_field_tag :artist_query %>
      <button class="search" type="button">Search</button>
    </dd>

    <dt class="artists">Artists</dt>
    <dd class="artists"></dd>
    <dt class="albums">Albums</dt>
    <dd class="albums"></dd>
    <dt class="songs"><%= f.label :lyric_url, 'Songs' %></dt>
    <dd class="songs"><%= f.select :lyric_url, [] %></dd>

    <dd><%= f.submit 'Send Lyric' %></dd>
  </dl>
<% end %>
