<div data-role="page">
  <div data-role="header"><h1>Send to a Friend</h1></div>
  <div data-role="content">
    <% if @call.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @call.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for @call do |f| %>
      <div data-role="fieldcontain">
        <%= f.label :from_name, 'Your Name' %>
        <%= f.text_field :from_name %>
      </div>
      <div data-role="fieldcontain">
        <%= f.label :from_number, 'Your Number' %>
        <%= f.number_field :from_number, :min => 1111111111, :max => 9999999999 %>
      </div>
      <div data-role="fieldcontain">
        <%= f.label :to_name, 'Their Name' %>
        <%= f.text_field :to_name %>
      </div>
      <div data-role="fieldcontain">
        <%= f.label :to_number, 'Their Number' %>
        <%= f.number_field :to_number, :min => 1111111111, :max => 9999999999 %>
      </div>

      <%= f.hidden_field :lyric_url %>

      <button type="submit" data-theme="e">Send Lyric</button>
    <% end %>
  </div>
  <div data-role="footer"><h6>Dial-a-Lyric</h6></div>
</div>
