<%= form_for @call do |f| %>
  <dl>
    <dd><%= f.label :from_name, 'Your Name' %></dd>
    <dt><%= f.text_field :from_name %></dt>
    <dd><%= f.label :from_number, 'Your Number' %></dd>
    <dt><%= f.text_field :from_number, :type => 'number', :min => 1111111111, :max => 9999999999 %></dt>

    <dd><%= f.label :to_name, 'Their Name' %></dd>
    <dt><%= f.text_field :to_name %></dt>
    <dd><%= f.label :to_number, 'Their Number' %></dd>
    <dt><%= f.text_field :to_number, :type => 'number', :min => 1111111111, :max => 9999999999 %></dt>

    <dd class="search"><%= label_tag :artist_query, 'Search for an Artist' %></dd>
    <dt class="search">
      <%= text_field_tag :artist_query %>
      <button class="search" type="button">Search</button>
    </dt>

    <dd class="artists">Artists</dd>
    <dt class="artists"></dt>
    <dd class="albums">Albums</dd>
    <dt class="albums"></dt>
    <dd class="songs"><%= f.label :lyric_url, 'Songs' %></dd>
    <dt class="songs"><%= f.select :lyric_url, [] %></dt>

    <dt><%= f.submit 'Send Lyric' %>
  </dl>
<% end %>
